body {
  font-family: 'PT Sans', Arial, sans-serif;
  margin: 0;
  padding: 0;
  width: 1200px;
  color: black;
  font-size: 14px;
  margin: 0 auto;

 

 }





a {
  text-decoration: none;
  
}

li {
  list-style: none;
}



.background-photo {
  background-image: url("../img/background.jpg.jpg");
  
  min-height: 509px;

  background-repeat: no-repeat;

}


        /* ХЭДЭР */




.main-navigation {
  background-color: white;
  text-align: center;
  height: 55px;
 
  
}
.navigation {

  display: flex;
  justify-content: space-around
}
.main-navigation a {
  text-decoration: none;
  
}

.main-navigation a {
  color: black;
  font: inherit;
  font-size: 14px;
line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;

}

.main-navigation .current-page {
  color: #766357;
}

.welcome-logo img {
  display: flex;
 align-items: center;
  margin: 0 auto;
}


.main-title h3 {
  font-size: 21px;
  line-height: 26px;
    font-weight: 700;


}
.main-title p
{
  font-size: 14px;
  line-height: 26px;
    font-weight: 700;


}



.feature-blue {

  background-color: #81b3d2;
  
  display: flex;
 
}
.feature-blue h3 { font-size: 21px;
  line-height: 21px;}

.features-white {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.features-grey {

  background-color: #eeeeee;
  display: flex;
}


.hotel-search {
  background-color: white;
}


.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;

}













/* ФОРМА */


.search-form {
border: 2px solid black;

}
.search-form-title {
  border: 2px solid black;
  background-color: #766357;
  
  }
.search-form-button {
  border: none;
  color: white;
  background-color: #81b3d2;
  text-align: center;
  font: inherit;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  font-weight: 400;
}




.map img {

}


/* ФУТЕР */

.footer-main {
display: flex;
justify-content: space-between;
align-items: center;
margin: auto;

}




.contacts {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.social {
  display: flex;
  
  align-items: center;
  justify-content: space-between;
}

.social-button {
  padding: 10px;
  background-color: #81b3d2;
  margin: 10px;
   /* padding: 10px; */
 
  }
  


.html-academy-logo {
    display: flex;
    align-items: center;
    

}

.html-academy-text {
  font-size: 14px;
  line-height: 26px;
  }
  


                    /* Каталог */


                    /* Фильтр */


.filter-section {
  height: 200px;
  display: flex;
  /* align-items: center; */
  align-content: space-between;
  justify-content: space-between;

}

.filter-fieldset {
 
}




.filter-fieldset legend {
font-size: 16px;
line-height: 21px;
text-transform: uppercase;

}

.filter-item {
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  
  }


.filter-image {

  background-image: url("../img/filter-background.jpg");
}
.filter-fieldset {
  border: none;
  color: #ffffff;
}





.search-results {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}


.more-info-button {
  color: #ffffff;
  background-color: #81b3d2;

  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  text-transform: uppercase;

  padding: 5px 10px;
}


.book-button {
  color: #ffffff;
  background-color: #766357;

  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 5px 10px;
}
}