body {
    background-image: url("../img/background.jpg.jpg");
    background-size: cover;
    width: 1200px;
    height: 774px;
    position: absolute;
    left: 40px;
    top: -27px;
    width: 1200px;
    height: 800px;
    z-index: 51;
 }

 
 



 li {
  list-style-type: none; 
  text-transform: uppercase;
 }

.logo {
    background-image: url("img/logo.png");
      position: absolute;
      
    
      width: 140px;
      height: 72px;
      }


.navigation {
  font-family: PTSans;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.86;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
}
 
